.navbar {
    background-color: black!important; /* Make the background transparent */
    position: relative;
}

.navbar-brand {
    color: white; /* Change the color of the brand text */
}

.nav-link {
    color: white !important; /* Change the color of the navigation links */
}

.navbar-nav {
    margin-left: auto; /* Align the nav links to the right */
}

.navbar-text {
    color: white; /* Change the color of the navbar text */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    width: 100%;
    height: 0%;
    position: relative;
    margin: 0;
    padding: 40;
    padding: 0; /* Remove padding */
    background-color: transparent;
}
  .banner-card {
    position: relative;
    text-align: center;
    margin-top: 0px;
}

.banner-card img{
   
    width: 100%; 
    height: 80%;
    opacity: 1;
    margin: 0%;
    padding: -20;
}

.banner-text h4{
    margin: 0;
    padding: 0;
    position:absolute;
    top:-90%;
    left: 35%;
    color: black;
   
  }

.banner-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
     /* Optional: Adds a background with transparency to the text for better readability */
    padding: 20px;
    border-radius: 10px;
}



